# DATABASE_URL
DATABASE_URL="postgresql://<user>:<password>@localhost:5432/phone-book"

#  CONTACT DELETION CODE
CONTACT_DELETION_CODE=some_super_secret_code

# CATEGORY DELETION CODE
CATEGORY_DELETION_CODE=another_super_secret_code