@import url("./overpass-font-classes.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

.page-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1.8rem 1.6rem;
  box-shadow: 0 5px 35px 0 #120e4205;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

header a:hover {
  background: #d5d5d5;
}

.categories-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: stretch;
  margin: 1rem auto;
  background: #f9f9f9;
  width: 100%;
  max-width: 600px;
  padding: 1rem 2rem;
}

.categories-container h2 {
  display: flex;
  gap: 2rem;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.categories-container .categories-count {
  opacity: 0.5;
}

.categories-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.categories-container li {
  display: flex;
  align-items: center;
  background: #f1f1f1;
}

.categories-container .category {
  display: flex;
  gap: 14px;
  align-items: center;
  text-transform: capitalize;
  text-decoration: none;
  color: black;
  padding: 1rem 1.6rem;
  flex-basis: 80%;
}

.categories-container .category:hover {
  background: #d5d5d5;
}

.categories-container .category:hover .category-name {
  text-decoration: underline;
}

.categories-container .category-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.categories-container .category-category-count {
  opacity: 0.5;
}

.categories-container .edit-category {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  padding: 1rem;
  flex-basis: 20%;
}

.categories-container .edit-category:hover {
  box-shadow: 0px 0px 5px 0px #f3f3f3;
  background: #caf9c9;
}

.categories-container .category-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.create-category-container {
  position: fixed;
  left: 25px;
  bottom: 25px;
  z-index: 10;
}

.create-category-container button {
  color: white;
  background: #00b3ffff;
  border-radius: 99999px;
  width: 52px;
  height: 52px;
  border: none;
  outline: none;
  cursor: pointer;
}

.create-category-container button:hover {
  box-shadow: 0 0 13px 1px #00b3ffba;
}
